body {
  background-color: #E7F6FF;
  display: flex;
  justify-content: center;
  font-family: Inter;
  padding: 0;
  margin: 0;
}

#root{
  width: 100%;
}

*{
  font-family: Inter;
}

li{
  list-style: none;
}

ul{
  margin: 0;
  padding: 0;
}

.wrapper{
  max-width: 1080px;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin: 85px auto;
  width: 100%;
  overflow: hidden;
}

.overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity .8s linear, visibility .8s linear;
  overflow: hidden;
}

.overlayHidden{
  opacity: 0;
  visibility: hidden; 
  .div-no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .cartContainer{
      transform: translateX(100%);
  }
}

main{
  background-color: #FFFFFF;
  padding: 45px 60px;
  .containerTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchContainer{
      border: 1px solid #F3F3F3;
      border-radius: 10px;
      padding: 0 15px;
      position: relative;

      .clearInput {
        top: 20px;
        right: 18px;
        position: absolute;
        cursor: pointer;
      }

      input{
        font-size: 16px;
        border: none;
        padding: 15px;
        outline: none;
        &::placeholder{
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          text-align: left;
          color: #C4C4C4;
        }
      }
    }

  }

  h1{
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
    text-align: left;
    span{
      font-style: italic;
    }
  }

  .sneakersWrapper{
    display: flex;
    flex-direction: column;

      ul{
        display: grid;
        grid-gap: 40px;
        grid-template: auto / repeat(4, 1fr) ;
      }
    }
}

.favourites, .orders{
  background-color: #FFFFFF;
  padding: 45px 60px;
  .containerTitle{
    display: flex;
    align-items: center;

    img{
      cursor: pointer;
    }
  }

  h1{
      font-size: 32px;
      font-weight: 700;
      line-height: 38.73px;
      text-align: left;
      margin-left: 21px;
      span{
        font-style: italic;
      }
  }

  

  .sneakersWrapper{
      ul{
          display: grid;
          grid-gap: 40px;
          grid-template: auto / repeat(4, 1fr) ;
      }
  }
}

.orderName{
  font-size: 24px;
  font-weight: 600;
  line-height: 29.05px;
  text-align: center;
  text-align: left;
  border-bottom: 1px solid #EAEAEA;
  padding: 16px 0px;
  margin: 8px 0px 32px;
}
